{% extends 'base.html' %}
{% block content %}
    <div class="container">
    <h1>Products</h1>
    <div class="row">
         {% for products in product %}
        <div class="col">
           <div class="card" style="width: 18rem;">
               <div class="card-body">
                   <h5 class="card-title">{{products.name}}</h5>
                       <p class="card-text">{{products.price}}</p>
                   <p>8638614363</p>
               </div>
           </div>
       </div>
        {% endfor %}
    </div>




    </div>

{% endblock %}